﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<ul>
    <li>Global menu</li>    
    <li><a href="google.com">Google</a></li>
</ul>